<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CreationChanson</servlet-name>
        <servlet-class>fr.romualdlemattre.tp_mars_poo_web_romu.CreationChanson</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreationSapin</servlet-name>
        <servlet-class>fr.romualdlemattre.tp_mars_poo_web_romu.CreationSapin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>nombreMystere</servlet-name>
        <servlet-class>fr.romualdlemattre.tp_mars_poo_web_romu.nombreMystere</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletTraitement1</servlet-name>
        <servlet-class>fr.romualdlemattre.tp_mars_poo_web_romu.ServletTraitement1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletTraitement2</servlet-name>
        <servlet-class>fr.romualdlemattre.tp_mars_poo_web_romu.ServletTraitement2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>testNombreMystere</servlet-name>
        <servlet-class>fr.romualdlemattre.tp_mars_poo_web_romu.testNombreMystere</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>nombreMystere1</servlet-name>
        <servlet-class>fr.romualdlemattre.tp_mars_poo_web_romu.nombreMystere1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>nombreMystere2</servlet-name>
        <servlet-class>fr.romualdlemattre.tp_mars_poo_web_romu.nombreMystere2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreationChanson</servlet-name>
        <url-pattern>/CreationChanson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreationSapin</servlet-name>
        <url-pattern>/CreationSapin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>nombreMystere</servlet-name>
        <url-pattern>/nombreMystere</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletTraitement1</servlet-name>
        <url-pattern>/traitement1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletTraitement2</servlet-name>
        <url-pattern>/traitement2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>testNombreMystere</servlet-name>
        <url-pattern>/testNombreMystere</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>nombreMystere1</servlet-name>
        <url-pattern>/nombreMystere1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>nombreMystere2</servlet-name>
        <url-pattern>/nombreMystere2</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
